* {
   margin: 0;
   padding: 0;
}

.fira-sans-bold {
   font-family: "Fira Sans", serif;
   font-weight: 700;
   font-style: normal;
}

/*header style*/

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
   margin: 50px 200px;
}

.button-primary {
   padding color: none;
   background-color: #006A50;
   color: white;
   border: none;
   padding: 15px 25px;
   border-radius: 8px;
   cursor: pointer;
}

nav ul li {
   list-style: none;
}

/* banner style */
.section-container {
   display: flex;
   justify-content: center;
   gap: 64px;
   padding: 100px 60px;
}

.banner {
   background-color: #C6E4D6;
   margin: 20px 160px;
   border-radius: 24px;
   font-family: "Fira Sans"
}

.section-title {
   color: rgba(14, 14, 14, 0.5);
   font-size: 24px;
   font-weight: 500;
   text-align: left;
   padding-bottom: 2px;
}

.section-description {
   color: rgb(14, 14, 14);
   font-size: 56px;
   font-weight: 700;
   text-align: left;
   padding-bottom: 24px;
}

.btn-primary {
   color: rgb(255, 255, 255);
   font-size: 18px;
   font-weight: 600;
   text-align: left;
   border-radius: 8px;
   background: rgb(0, 106, 80);
   padding: 17px 34px 17px 34px;
   border: none;
}

/*Vision sec start*/

.tech{

width: 1400px;
height: 900px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 32;
}

.tech-title-main {
   margin: 20px 160px;
   font-size: 40px;
}

.tech-description{
   margin: 20px 160px;
   position: static;
   width: 1280px;
   height: 48px;
   color: rgba(14, 14, 14, 0.7);
   font-family: Fira Sans;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   text-align: left;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 12;
   padding: 0px;   
}

/*Tech section style*/

.tech-container{
   display: flex;
   flex-direction: row;
   gap: 24px;
   justify-content: center;
   text-align: left;
   
 }

 .tech-descrip{
   padding: 30px;
 
 }

 .tech1 {
   box-sizing: border-box;
border-radius: 16px;
width: 300px;
background: rgba(84, 144, 245, 0.2);
padding: 20px 20px;
margin-top: 20px;
}

 .tech2 {
   box-sizing: border-box;
   border-radius: 16px;
   width: 300px;
   background:rgb(198, 228, 214);
   padding: 20px 20px;
   margin-top: 20px;
   }

 .tech3 {
   box-sizing: border-box;
   border-radius: 16px;
   width: 300px;
   background:rgb(247, 235, 207);
   padding: 20px 20px;
   margin-top: 20px;
   }

   .tech-title{
      position: static;
      width: 346.67px;
      height: 24px;   
      margin: 20px;
      font-size: 20px;
      color: rgb(14, 14, 14);
   font-family: Fira Sans;
   font-size: 20px;
   font-weight: 700;
   line-height: 24px;
   letter-spacing: 0%;
   text-align: justify;
      }

   .tech-descrip{
      margin-bottom: 8px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 12;
      padding: 0px;
      color: rgba(14, 14, 14, 0.7);
      font-family: Fira Sans;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0%;
      text-align: left;
}

/*Button style*/
.btn-blue {
      padding color: none;
      background-color: #5490F5 ;
      color: white;
      border: none;
      padding: 15px 25px;
      border-radius: 8px;
      cursor: pointer;
}

.btn-green {
      padding color: none;
      background-color: #09A15C ;
      color: white;
      border: none;
      padding: 15px 25px;
      border-radius: 8px;
      cursor: pointer;
}

.btn-yellow {
      padding color: none;
      background-color: #FFC239 ;
      color: white;
      border: none;
      padding: 15px 25px;
      border-radius: 8px;
      cursor: pointer;
}

.DrYounus{
      justify-content: center;
     text-align: left;
     box-sizing: border-box;
      padding: 80px 48px;
      border: 1px solid rgba(14, 14, 14, 0.15);
      border-radius: 16px;
      background: rgb(255, 255, 255);
}

.DrYounus, .quote{
      color: rgba(14, 14, 14, 0.8);
      font-weight: 400;
}

.card{
      box-sizing: border-box;
      border-radius: 16px;
      width: 300px;
      background: rgba(84, 144, 245, 0.2);
      padding: 20px 20px;
      margin-top: 20px;
}
.card h4{
      margin: 8px 0px;
}
.card p{
      margin-bottom: 8px;
}
.btn-blue{
      border-radius: 4px;
      padding: 4px;
      color: azure;

      background: rgb(84, 144, 245);
}
#biskute{
      background-color: blanchedalmond;
}
.btn-yellow{
      background-color: chocolate;
      border-radius: 4px;
      padding: 4px;
      color: beige;
}
#green{
      background-color: rgb(124, 223, 124);
}
.btn-green{
      background-color: rgb(226, 91, 143);
      border-radius: 4px;
      padding: 4px;
      color: beige; 
}
.btn-green:hover{
      cursor: pointer;
      background-color: aqua;
      color:black ;
      transform: translateY(4px);
}
.btn-blue:hover{
      cursor: pointer;
      background-color: rgb(255, 0, 0);
      color:rgb(255, 254, 254) ;
      transform: translateY(4px);
}
.btn-yellow:hover{
      cursor: pointer;
      background-color: rgb(41, 157, 34);
      color:rgb(199, 8, 8) ;
      transform: translateY(4px);
}
.news-section,.letter-container{ 
      background-color:rgb(244, 237, 237) ;
      width: 960px;
      margin: 30px auto;
      padding: 30px;
   
}
.new-details{
      width: 940px;
      margin: 0 auto;
 
}
.new-details p{
      color: rgba(14, 14, 14, 0.7);
      font-family: Fira Sans;
      margin-bottom: 10px;
}
.image-news{
      width: 300px;
      border-radius: 10px;
}
.news-card-container{
      width: 800px;
      margin: 10px auto;
      border-radius: 10px;
      box-shadow: 0 8px 8px rgb(159, 154, 198);
      display:flex;
      background-color: aliceblue;
      padding:20px;
      justify-content: space-between;
      gap: 20px;
}
.news-card-container2{
      width: 800px;
      margin: 10px auto;
      border-radius: 10px;
      box-shadow: 0 8px 8px rgb(159, 154, 198);
      display:flex;
      flex-direction: row-reverse;
      background-color: aliceblue;
      padding:20px;
      justify-content: space-between;
      gap: 20px;
}
.date-container{
      display: flex;
      gap:10px ;
      color: rgba(14, 14, 14, 0.7);
      font-family: Fira Sans;
}
.paragraph{
      margin: 10px 0px;
      color: rgba(14, 14, 14, 0.7);
      font-family: Fira Sans;
   
}
#read{
   margin-left: -8px;
}

.donate-section{
      width: 960px;
      background-color:blanchedalmond ;
      margin: 10px auto;
      text-align: center;
      padding: 30px;
  }
  .donate-section p {
      width: 850px ;
      margin: 10px auto;
      color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  
  }
  
  
      .donation1,.donation2,.donation3,.donation4{
          padding: 15px;
          box-sizing: border-box;
          border: 1px solid rgba(14, 14, 14, 0.15);
          font-size: 30px;
          border-radius: 10px;
          
      }
      .donation2{
          
          background: rgb(198, 228, 214);
      }
      .donation1:hover{
          cursor: pointer;
          background-color: rgb(43, 205, 208);
          color:#000000 ;
          transform: translateY(-10px);
      }
      .donation2:hover{
          cursor: pointer;
          background-color: rgb(195, 59, 59);
          color:rgb(230, 225, 225) ;
          transform: translateY(10px);
      }
      .donation3:hover{
          cursor: pointer;
          background-color: rgb(43, 205, 208);
          color:rgb(255, 253, 253) ;
          transform: translateY(-10px);
      }
      .donation4:hover{
          cursor: pointer;
          background-color: rgb(195, 59, 59);
          color:hsl(0, 10%, 96%) ;
          transform: translateY(10px);
      }
  
      #input1{
          width: 600px;
          margin: 10px auto;
          padding: 8px;
          border: none;
      }
      #input2{
          width: 400px;
          margin: 10px auto;
          padding: 10px;
  
         border: none;
         border-radius:5px ;
      }
      
        #input1::placeholder{
          text-align:center;
        }
  
        #letter-container{
        text-align: center;
        border-radius: 10px;
        background-color:rgb(147, 249, 242);
        }
        .letter-details{
          width: 800px;
        }
        .letter-details p{
          width: 530px;
          margin: 5px auto;
        }
        .subscribe1{
            color: rgb(255, 255, 255);
            font-size: 18px;
            font-weight: 600;
            text-align: left;
            border-radius: 8px;
            background: rgb(0, 106, 80);
            padding: 17px 34px 17px 34px;
            border: none;
            margin-left:-20px;
        }
        .gray-make{
          color: rgb(52, 52, 53);
          text-align: center;
          margin-left: -50px;
        }
  .final{
      display: flex;
      justify-content: center;
      padding: 20px
  }
  .final2{
      gap: 50px;
  }
  
